@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply outline-none
    }
}

@layer components {

    /* geral */
    .animacao-carregar {
        @apply inline-block w-3 h-3 bg-white mx-1 rounded-full
    }

    /* sign */
    .titulo-input {
        @apply text-lg font-medium
    }

    .input-style {
        @apply border-2 border-cor-terciaria rounded-lg px-2 py-0.5 w-full text-lg font-medium focus: outline-none focus:border-cor-hover
    }

    /* login */
    .input-login {
        @apply h-9 bg-transparent px-2 text-xl font-medium placeholder: text-black focus:outline-none focus:border-cor-secundaria
    }

    /* main */
    .btn-aside {
        @apply flex items-center gap-5 px-8 py-1.5 rounded-xl cursor-pointer hover: bg-cor-hover
    }

    .btn-operacoes {
        @apply w-14 h-14 px-4 py-2 bg-cor-terciaria rounded-full cursor-pointer hover: bg-cor-hover
    }

    .estilo-blocos-informacoes {
        @apply bg-cor-branco px-8 py-5 h-max rounded-xl shadow-lg
    }

    /* conta */
    .titulo-informacoes-conta {
        @apply font-medium text-lg
    }

    .input-conta {
        @apply border-2 border-cor-outline rounded-lg px-2 py-1 font-medium focus: outline-none focus:border-cor-hover
    }

    .div-informacoes-conta {
        @apply grid grid-cols-[18rem_20rem_auto] grid-rows-[fit_auto] gap-1
    }

    .frase-erro-conta {
        @apply row-start-2 row-end-3 col-start-2 col-end-4 font-medium text-cor-erro
    }

    /* operacoes */
    .input-operacao {
        @apply h-9 bg-transparent px-2 text-2xl font-semibold placeholder: text-black focus:outline-none
    }

    .frase-erro-operacao {
        @apply row-start-2 row-end-3 col-start-2 col-end-4 font-medium text-cor-erro
    }

    /* erros */
    .correto-label-transparente {
        @apply flex items-end gap-px border-b-2 w-80 border-cor-outline h-9 px-2 text-xl font-medium focus: outline-none autocomplete
    }

    .erro-label-transparente {
        @apply flex items-end gap-px border-b-2 w-80 border-cor-erro h-9 px-2 text-xl font-medium focus: outline-none autocomplete
    }

}

@layer utilities {
    .scrollbar ::-webkit-scrollbar {
        width: 8px;
        height: 6px;
        padding: 12rem 0;
    }

    .scrollbar ::-webkit-scrollbar-track {
        display: none;
    }

    .scrollbar ::-webkit-scrollbar-thumb {
        background: #112D4E;
        border-radius: 4px;
    }

    .autocomplete input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: inherit;
        transition: background-color 0s ease-in-out 5000s;
    }
}