@import './components/variaveis';

@mixin reset {
    margin: 0;
    padding: 0;
}

*{
    @include reset()
}
body {
    background-color: $cor-principal;
    font-family: $fonte-principal;
}
.nome-empresa{
    font-size: 40px;
    font-weight: 600;
    width: 35%;
    margin: 0 0 2rem .5rem;
    border-bottom: 2px solid $cor-terciaria;
}
.login{
    display: flex;
    flex-direction: column;
    margin: 5rem 23vw;
    color: $cor-escuro;
    .campos{
        display: flex;
        flex-direction: column;
        border: 2px solid $cor-terciaria;
        border-radius: 15px;
        padding: 2rem 3rem;
        gap: 1.5rem;
        .campo-titulo {
            display: flex;
            align-items:end;
            justify-content: space-between;
        }
        .campo-titulo-esquerdo {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: .2rem;
    
        }
        .campo-titulo-direito-link{
            color: $cor-escuro;
            font-size: 16px;
        }
        .campo{
            display: flex;
            flex-direction: column;
            color: $cor-escuro;
            font-weight: 400;
            gap: .25rem;
            
            .campo-nome{
                font-size: 18px;
            }
            .campo-input{
                font-family: $fonte-secundaria;
                color: $cor-escuro;
                border: 2px solid $cor-terciaria;
                border-radius: 10px;
                background-color: transparent;
                padding: 0.6rem;
                font-size: 15px;
                font-weight: 500;

                &:focus{
                    outline: 0;
                    border-color: $cor-escuro;
                }
                &::placeholder{
                    font-family: $fonte-secundaria;
                    font-size: 15px;
                    font-weight: 400;
                    color: $cor-placeholder;
                }
            }
            .campo-senha{
                display: flex;
                align-items: center;
                text-align: center;
                gap: 8px;
            }
            .campo-enviar{
                font-family: $fonte-principal;
                color: $cor-principal;
                font-size: 18px;
                border: none;
                border-radius: 10px;
                background-color: $cor-escuro;
                width:100%;
                padding: .6rem;
                margin-bottom: .5rem;
                
                &:hover {
                    background-color: #2f4257;
                }
            }
            
        }
    }
}