@import './components/aside';
@import './components/header';
@import './components/primeiraSection';
@import './components/segundaSection';
@import './telas/depositoConcluido';
@import './telas/escolheTransfere';
@import './telas/conta';
@import './components/errosCampos';
@import './telas/operacaoConcluida';
@import './telas/operacao';

*{
    margin:0;
    padding:0
}

body{
    display: grid;
    grid-template-areas: 
    
    "lado cabecalho cabecalho"
    "lado saldo amigos"
    "lado extrato amigos";
    
    grid-template-columns: 13rem auto 15rem;
    grid-template-rows: 4rem auto auto;
    /* duas linhas | 2 colunas */
    /* 1fr é a fração da tela */
    
    background-color: $cor-principal;
    font-family: $fonte-principal;
}

aside{
    grid-area: lado;
}
header{
    grid-area: cabecalho;
}
#informacoes-saldo{
    grid-area: saldo;
}
#informacoes-amigos{
    grid-area: amigos;
}