@import '../components/variaveis';
.main{
    font-family: $fonte-secundaria;
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 8rem 25rem 0 8rem;
        width: 50%;
        gap: .5rem;
        h3{
            font-size: 25px;
            margin-left: 1rem;
        }
        .tela-contas{
            height: 23rem;
            display: flex;
            flex-direction: column;
            padding-right: .5rem;
            padding: .5rem .5rem .5rem 0 ;
            background-color: #a6caa942;
            border: 2px solid $cor-cartao-bordas-botao;
            border-left: 20px solid $cor-cartao-bordas-botao;
            border-radius: 20px;
            //funciona no edge chrome safari
            & ::-webkit-scrollbar-track {
                display: none;
            }
            & ::-webkit-scrollbar {
                width: 8px;
                height: 6px;
            }
            & ::-webkit-scrollbar-thumb {
                background: $cor-cartao-bordas-botao;
                border-radius: 4px;
                &:hover{
                    background-color: $cor-cartao-hover;
                }
            }
            //funciona no firefox
            scrollbar-width: thin;
            scrollbar-color: $cor-cartao-bordas-botao;
            .tela-contas_ul{
                overflow-y:auto;
                width: 100%;
            }
            
            .tela-contas_informacoes{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: .2rem 2rem;
                .tela_informacoes-contas{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    gap: 10px;
                    .botao-transferir-contas{
                        button{
                            display: flex;
                            font-family: $fonte-principal;
                            width: fit-content;
                            background-color: $cor-cartao-bordas-botao;
                            border: none;
                            border-radius: 8px;
                            padding: .3rem .5rem;
                            color: white;
                            font-size: 16px;
                            font-weight: 500;
                            &:hover{
                                background-color: $cor-cartao-hover;
                            }
                        }
                    }
                    h4{
                        font-family: $fonte-secundaria;
                        font-size: 17px;
                        font-weight: 600;
                        color: black;
                    }
                    p{
                        font-family: $fonte-secundaria;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .barra-separacao{
                    margin-top: .5rem;
                    background-color: rgba(0, 0, 0, 0.164);
                    height: .1rem;
                    width: 100%;
                }
            }
        }
    }
}