@import '../components/variaveis';

.main {
    .operacao {
        display: flex;
        flex-direction: column;
        align-items: left;
        font-family: $fonte-principal;
        margin: 10rem 0 0 10rem;
        gap: 1.5rem;
        .texto-operacao{
            display: flex;
            flex-direction: column;
            gap: .3rem;
            label {
                font-size: 35px;
                font-weight: 600;
            }
            p {
                font-weight: 500;
            }
        }

        .operacao-input{
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            gap: .3rem;
            input {
                font-family: $fonte-secundaria;
                font-size: 15px;
                font-weight: 500;
                background-color: transparent;
                border: 2px solid #1b599caf;
                border-radius: 8px;
                padding: .5rem .5rem;
    
                &::placeholder {
                    font-family: $fonte-secundaria;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 600;
                }
    
                &:focus {
                    outline: 0;
                    border-color: #1b599caf;
                }
            }
        }
        button {
            display: flex;
            font-family: $fonte-principal;
            width: fit-content;
            background-color: $cor-aside;
            border: none;
            border-radius: 8px;
            padding: .5rem 1.5rem;
            text-decoration: none;
            color: white;
            font-size: 22px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: #004da0;
            }
        }
    }
}