@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* geral */
    .animacao-carregar{
      @apply inline-block w-3 h-3 bg-white mx-1 rounded-full
    }
    /* main */
    .btn-aside {
      @apply flex items-center gap-5 px-8 py-1.5 rounded-xl cursor-pointer hover:bg-cor-hover
    }
    .btn-operacoes {
      @apply w-14 h-14 px-4 py-2 bg-cor-terciaria rounded-full cursor-pointer hover:bg-cor-hover
    }
    .estilo-blocos-informacoes {
      @apply bg-cor-branco px-8 py-5 h-max rounded-xl
    }

    /* conta */
    .titulo-informacoes-conta{
      @apply font-medium text-lg
    }
    .input-conta{
      @apply border-2 border-cor-outline rounded-lg px-2 py-1 placeholder:font-medium focus:outline-none focus:border-cor-hover
    }
    .div-informacoes-conta{
      @apply grid grid-cols-[18rem_20rem_auto] grid-rows-[fit_auto] gap-1
    }
    .frase-erro-conta{
      @apply row-start-2 row-end-3 col-start-2 col-end-4 font-medium text-cor-erro
    }

    /* operacoes */
    .input-operacao{
      @apply h-9 bg-transparent px-2 text-2xl font-semibold placeholder:text-black focus:outline-none
    }
    .frase-erro-operacao{
      @apply row-start-2 row-end-3 col-start-2 col-end-4 font-medium text-cor-erro
    }
}

@layer utilities {
  .scrollbar ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    padding: 12rem 0;
  }
  .scrollbar ::-webkit-scrollbar-track {
    display: none;
  }
  .scrollbar ::-webkit-scrollbar-thumb {
    background: #112D4E;
    border-radius: 4px;
  }
}