.erro-primeiroNome-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-primeiroNome-escrita{
    display: none;
    color: $cor-erro;
}
.erro-primeiroNome-length{
    display: none;
    color: $cor-erro;
}
.erro-segundoNome-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-segundoNome-escrita{
    display: none;
    color: $cor-erro;
}
.erro-segundoNome-length{
    display: none;
    color: $cor-erro;
}
.erro-usuario-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-usuario-escrita{
    display: none;
    color: $cor-erro;
}
.erro-usuario-usado{
    display: none;
    color: $cor-erro;
}
.erro-cpf-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-cpf-invalido{
    display: none;
    color: $cor-erro;
}
.erro-cpf-existe{
    display: none;
    color: $cor-erro;
}
.erro-cpf-escrita{
    display: none;
    color: $cor-erro;
}
.erro-email-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-email-escrita{
    display: none;
    color: $cor-erro;
}
.erro-telefone-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-telefone-escrita{
    display: none;
    color: $cor-erro;
}
.erro-telefone-invalido{
    display: none;
    color: $cor-erro;
}
.erro-senha-obrigatorio{
    display: none;
    color: $cor-erro;
}
.erro-senha-invalido{
    display: none;
    color: $cor-erro;
}
.erro-senha-escrita{
    display: none;
    color: $cor-erro;
}
.erro-senhas-diferentes{
    display: none;
    color: $cor-erro;
}
.erro-valor{
    display: none;
    color: $cor-erro;
}
.erro-insuficiente{
    display: none;
    color: $cor-erro;
}
.campo-nome{
    font-size: 18px;
}