@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Work+Sans:wght@300;400;500;600;700&display=swap');

$cor-principal: #DBE2EF;
$cor-secundaria: #3F72AF;
$cor-terciaria: #112D4E;
$cor-clara: #F9F7F7;
$cor-escuro: #112D4E;
$cor-aside: #EEEEEE;
$cor-aside-titulo: #b7c8da;
$cor-branco: #fff;
$cor-placeholder: #576270;
$cor-erro:#b92626;

$cor-cartao-background: #a6bcca70;
$cor-cartao-bordas-botao: #415c7c;
$cor-cartao-hover: #1e65b1af;


$fonte-principal: 'Work Sans', sans-serif;
$fonte-secundaria: 'Open Sans', sans-serif;

// work sans / open sans