@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Work+Sans:wght@300;400;500;600;700&display=swap');

$cor-principal: #DBE2EF;
$cor-secundaria: #3F72AF;
$cor-terciaria: #112D4E;
$cor-hover: #1254a1;
$cor-carregamento: #517bac;
$cor-clara: #eeeeee;
$cor-cinza-claro: #616161;
$cor-cinza-escuro: #111111;
$cor-cinza-transparente: #49494927;
$cor-outline: #011e42;
$cor-branco: #fff;
$cor-erro:#b92626;

$cor-cartao-background: #a6bcca70;
$cor-cartao-bordas-botao: #415c7c;
$cor-cartao-hover: #1e65b1af;


$fonte-principal: 'Work Sans', sans-serif;
$fonte-secundaria: 'Open Sans', sans-serif;

// work sans / open sans